.wsb {
  margin: 0 auto;
  padding: 1rem;
  background-color: #e3f2fd; /* Light blue background for the container */
  min-height: 100vh;
}

.word-selector-container {
  border-radius: 1rem;
  background-color: #ccf2f4;
  padding: 2rem;
  box-shadow: inset 0 -1em 1em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.title {
  margin-bottom: 2rem;
  color: #6a097d;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.word-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.word-button {
  background-color: #f4bef2;
  border: none;
  border-radius: 1rem;
  width: 120px; /* Fixed width for uniformity */
  height: 40px; /* Fixed height for uniformity */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center; /* Center text horizontally */
}

.word-button.selected {
  background-color: #6af995; /* Green color when selected */
  color: #004d40;
}

.word-button:hover {
  background-color: #ffdee9;
}

.start-game-btn {
  margin-top: 2rem;
  font-size: 1.25rem;
  padding: 0.8em 2em;
  background-color: #fffc58;
  border: 2px solid #d3e228;
  border-radius: 1rem;
  color: #636262;
  font-weight: bolder;
  transition: transform 0.4s ease;
  box-shadow: -5px 5px 0px 0px #f3ea73;
  width: auto; /* Adjust width based on content */
}

.start-game-btn:disabled {
  background-color: #f5e55b;
  cursor: not-allowed;
  box-shadow: none;
}

.start-game-btn:hover {
  transform: translate(5px, -5px);
}

@media only screen and (max-width: 768px) {
  .word-list {
    flex-direction: row; /* Keep buttons in a row */
    flex-wrap: wrap; /* Allow wrapping if needed */
    justify-content: center; /* Center the buttons */
  }

  .word-button {
    width: 100px; /* Slightly smaller width for smaller screens */
    height: 35px; /* Adjust height for consistency */
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }
}


.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-container {
  background-color: #c4a6be;
  border-radius: 10px;
  width: 300px; /* Adjust width as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.custom-modal-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.custom-modal-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.custom-modal-body {
  margin-bottom: 1rem;
}

.custom-modal-footer {
  display: flex;
  justify-content: center;
}

.custom-modal-button {
  background-color: #b266ce;
  border: none;
  border-radius: 2rem;
  color: #060606;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-modal-button:hover {
  background-color: #b266ce;
}
